/* :root {
  --css-primary: #34c94b;
  --css-black: #121212;
  --css-white: #fff;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
html,
legend,
li,
ol,
p,
ul {
  background: #121212;
  background: var(--css-black);
  color: #fff;
  color: var(--css-white);
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #0073e6;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.feedbackname {
  background: none;
  color: var(--css-black);
  margin-top: 16px;
}

.feedbackForm {
  align-items: center;
  background: var(--css-white);
  border-radius: 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 450px;
  justify-content: center;
  left: 0;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 99px;
  z-index: 9999;
}

.formdata {
  margin-top: 30px;
}

.feedbackformsubmitbutton {
  background: var(--css-primary);
  border-radius: 12px;
  color: var(--css-white);
  cursor: pointer;
  height: 50px;
  margin-top: 45px;
  padding: 12px;
  width: 160px;
}

.heroimage {
  align-items: center;
  display: flex;
  height: 270px;
  justify-content: center;
  text-align: center;
}

@media (max-width: 577px) {
  .heroimage {
    font-size: 8px;
  }
}

.albums {
  padding: 0 40px;
}

.gap {
  margin-top: 30px;
}

.collapse {
  color: var(--css-primary);
}

@font-face {
  fallback: fallback;
  font-family: revicons;
  src: url(/static/media/revicons.e8746a624ed098489406.woff) format("woff"),
    url(/static/media/revicons.57fd05d4ae650374c8de.ttf) format("ttf"),
    url(/static/media/revicons.a77de540a38981833f9e.eot) format("ttf");
}

.react-multi-carousel-list {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.react-multi-carousel-track {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform, transition;
}

.react-multiple-carousel__arrow {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 35px;
  cursor: pointer;
  min-height: 43px;
  min-width: 43px;
  opacity: 1;
  outline: 0;
  position: absolute;
  transition: all 0.5s;
  z-index: 1000;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.react-multiple-carousel__arrow:before {
  color: #fff;
  display: block;
  font-family: revicons;
  font-size: 20px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.react-multiple-carousel__arrow:disabled {
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}

.react-multiple-carousel__arrow--left:before {
  content: "\e824";
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
}

.react-multiple-carousel__arrow--right:before {
  content: "\e825";
}

.react-multi-carousel-dot-list {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.react-multi-carousel-dot button {
  border: 2px solid grey;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 6px 0 0;
  opacity: 1;
  outline: 0;
  padding: 0;
  transition: background 0.5s;
  width: 12px;
}

.react-multi-carousel-dot button:hover:active,
.react-multi-carousel-dot--active button {
  background: #080808;
}

.react-multi-carousel-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }

  .react-multi-carousel-track {
    overflow: visible !important;
  }
}

[dir="rtl"].react-multi-carousel-list {
  direction: rtl;
}

.rtl.react-multiple-carousel__arrow--right {
  left: calc(4% + 1px);
  right: auto;
}

.rtl.react-multiple-carousel__arrow--right:before {
  content: "\e824";
}

.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(4% + 1px);
}

.rtl.react-multiple-carousel__arrow--left:before {
  content: "\e825";
}

.card {
  background: var(--css-white);
  border-radius: 10px 10px 0 0;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1%;
  overflow: hidden;
  width: 159px;
}

@media (max-width: 768px) {
  .card {
    margin-left: 2%;
    width: 100%;
  }
}

.card img {
  height: 170px;
  width: 100%;
}

.card img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.followers {
  background: #fff;
  border-radius: 12px;
  font-size: 0.85rem;
  margin: 3px;
  overflow: hidden;
  text-align: center;
  width: 70%;
}

.catagory {
  position: absolute;
}

.parent {
  max-width: 100%;
}

.react-multiple-carousel__arrow {
  background-color: var(--css-primary);
}

.onealbum {
  margin-top: 20px;
}

.tophead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: var(--css-primary) !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--css-primary) !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: var(--css-secondary) !important;
}

.css-1q2h7u5 {
  color: var(--css-white) !important;
}

.css-1q2h7u5.Mui-selected {
  color: var(--css-primary) !important;
}

.css-ttwr4n {
  background-color: var(--css-primary) !important;
}

.footer {
  align-items: center;
  border-radius: 0, 0, 10px, 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 345px;
  width: 100vw;
}

.accordion {
  border-radius: 12px;
  width: 70%;
}

.css-1fjvggn-MuiPaper-root-MuiAccordion-root {
  background-color: #000 !important;
  border: 1px solid var(--css-white) !important;
  overflow: hidden !important;
}

.css-ta84vm-MuiAccordionDetails-root {
  background-color: var(--css-white);
}

.details {
  background: var(--css-white);
  color: var(--css-black);
}

.css-v84d5j-MuiSvgIcon-root {
  color: var(--css-primary);
  height: 30px !important;
  width: 30px !important;
}

.css-78njj9 {
  background-color: #000 !important;
  border-radius: 12px !important;
}

.css-3vmltg {
  color: var(--css-primary);
  height: 30px;
  width: 30px;
}

.musicimage {
  border-radius: 10px;
  height: 100px;
  left: 32px;
  margin-left: 20px;
  top: 2070px;
  width: 110.85px;
}

.slide {
  color: var(--css-primary) !important;
}

.css-14pt78w-MuiSlider-rail {
  background: var(--css-white) !important;
}

.css-1dvzci1 {
  color: var(--css-white) !important;
}

.navbar {
  align-items: center;
  background-color: var(--css-primary);
  display: flex;
  height: 74px;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  margin-left: 3vw;
}

.collapse,
.logo {
  cursor: pointer;
}

.searchbar {
  border: 1px #000;
  display: flex;
  height: 48px;
  width: 50vw;
}

.searchbar input {
  border: 1px solid #000;
  border-radius: 12px 0 0 12px;
  flex: 1 1;
  padding: 10px;
}

.searchbar button {
  border: 1px solid #000;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  height: 48px;
  width: 66px;
}

.searchbar button icon {
  height: 20px;
  width: 20px;
}

@media (max-width: 577px) {
  .searchbar {
    width: 70vw;
  }

  .searchbar input {
    padding: 0;
    width: 500px;
  }
}

.feedback {
  align-items: center;
  background: var(--css-black);
  border: 1px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 47px;
  justify-content: center;
  margin-right: 3vw;
  position: relative;
  text-align: center;
  width: 13vw;
}

.feedback h3 {
  color: var(--css-primary);
  font-family: Poppins;
  font-size: 15px;
  left: 20px;
  position: relative;
}

@media (max-width: 576px) {
  .feedback {
    display: none;
  }
}

.backButton {
  align-items: center;
  border: solid var(--css-white);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
  text-align: center;
  width: 30px;
}

.albumDetails {
  display: flex;
  margin: 74px 85px 0;
}

.albumDetails img {
  border-radius: 20px;
  height: 329px;
  width: 288px;
}

.albumContent {
  text-wrap: wrap;
  align-self: center;
  margin-left: 30px;
}

.albumContent ul {
  display: flex;
  gap: 12px;
}

.albumButtons {
  margin-top: 12px;
}

.albumButtons .shuffleButton {
  background: var(--css-primary);
  border-radius: 12px;
  color: var(--css-white);
  font-size: 1rem;
  height: 46px;
  letter-spacing: 2px;
  margin-right: 12px;
  max-width: 131px;
}

.albumButtons .libraryButton {
  background: var(--css-black);
  border-radius: 12px;
  color: var(--css-primary);
  font-size: 1rem;
  font-weight: 700;
  height: 47px;
  letter-spacing: 2px;
  max-width: 207px;
}

@media (max-width: 682px) {
  .albumDetails {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .albumContent {
    width: 100vw;
  }
}

.albumTable {
  margin: 52px;
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

th {
  text-align: start;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.albumTable tr {
  margin-bottom: 90px;
}

@media (max-width: 682px) {
  .albumTable {
    margin: auto;
  }
}

.tablePagination {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.tablePagination
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: var(--css-primary);
  color: var(--css-black);
}

.tablePagination
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background: #34c94a !important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tablePagination .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root,
.tablePagination .css-1v2lvtn-MuiPaginationItem-root {
  color: var(--css-white);
}

.tablePagination .css-1omp2b7.Mui-selected {
  background: var(--css-primary);
  color: var(--css-black);
}

.tablePagination .css-1omp2b7.Mui-selected:hover {
  background: #34c94a !important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tablePagination .css-16y9h98,
.tablePagination .css-1omp2b7 {
  color: var(--css-white);
}

@media (max-width: 682px) {
  .tablePagination {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

# sourceMappingURL=main.32c0c995.css.map */
