.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}
.search {
  width: 568px;
  height: 48px;
  top: 13px;
  left: 436px;
  gap: 0px;
  border-radius: 8px 0px 0px 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.searchButton {
  width: 66px;
  height: 48px;
  top: 13px;
  left: 938px;
  gap: 0px;
  border-radius: 0px 8px 8px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
