.container{
    background-color: #34C94B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
}

.logo{
    width: 67px;
    height: 34px;
    margin-left: 32px;  
    margin-top: 12px;
    margin-bottom: 12px;   
}

.swiper {
    width: 600px;
    height: 300px;
  }
