.navbar {
  width: 1440pxt;
  height: 74px;
  background-color: #34c94b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 0px 32px;
  gap: 0px;
  opacity: 100px;
}
