.navbar {
  width: 100vw;
  height: 74px;
  /* background-color: #34c94b; */
  background-color: var(--css-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px 0px 32px;
  gap: 0px;
  opacity: 100px;
}

.logo {
  margin-left: 3vw;
  cursor: pointer;
}

.collapse {
  cursor: pointer;
}
